spring:
  application:
    name: BankingManagement-api
  datasource:
    url: jdbc:postgresql://localhost:5432/BankingManagementSystemAPI
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

server:
  port: 9092

logging:
  level:
    com:
      bankingmanagement: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"
  file:
    name: logs/bankingmanagement-API.log
    path: ./logs

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always